

button, input, select {
    margin: 1vh;
    padding: 1vh;
    width: 80%;
}

#hoverBox {
    background: lightgray;
    padding: 2vh;
    margin: 2vh auto;
    width: 100vh;
}

#output {
    margin-top: 2vh;
    padding: 15px;
    background: #eee;
}